{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="wrapper">

      <div class="addRecipe">

        <h1 class='recipeTitle'>Edit Recipe: {{recipe.name}}</h1>

        <form action="/edit_recipe/{{recipe.id}}" method="POST">

          <div class="formInput">
            <div class="recipe">
              <label for="name">~<3 Name <3~</label>
              <input class="form-control" type="text" name="name" value="{{recipe.name}}">
              <label  for="description">~<3 Description <3~</label>
              <textarea class="form-control" name="description" id="description" cols="70" rows="10">{{recipe.description}}</textarea>
              <label for="instructions">~<3 Instructions <3~</label>
              <textarea class="form-control" name="instructions" id="instructions" cols="70" rows="10">{{recipe.instructions}}</textarea>
            </div>

            <div class="details">
              <label for="date">~<3 Date <3~</label>
              <input class="form-control" type="date" name="date" value="{{recipe.date}}">

              <div class="underThirty">
                <h5 class="recipeTitle">Under 30 Minutes?</h5>
                <div class="thirtyYesNo">
                  {% if recipe.thirty == 'Yes' %}
                  <div>
                    <input type="radio" id="yes" name="thirty" value= "Yes" checked>
                    <label for="thirty">Yes</label>
                  </div>
                  <div>
                    <input type="radio" id="no" name="thirty" value= "No">
                    <label for="thirty">No</label>
                  </div>
                  {% else %}
                  <div>
                    <input type="radio" id="yes" name="thirty" value= "Yes" >
                    <label for="thirty">Yes</label>
                  </div>
                  <div>
                    <input type="radio" id="no" name="thirty" value= "No" checked> 
                    <label for="thirty">No</label>
                  </div>
                  {% endif %}
                </div>
              </div>
              <input class="btn btn-dark btn-outline-light addRecipeBtn" type="submit" value="Edit Recipe">
              <a href="/"><button class="btn btn-dark btn-outline-light addRecipeBtn" type="button">Cancel</button></a>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>

{% endblock %}