{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="wrapper">
      <div class="addRecipe"></div>
        <div class="recipe">
          <h1 class='recipeTitle'>Recipe: {{recipe.name}}</h1>
          <p>{{recipe.description}}</p>
          <p>{{recipe.instructions}}</p>
        </div>
        <div class="details">
          <p>{{recipe.date}}</p>
          <h4>Under Thirty Minutes?</h4>
          <p>{{recipe.thirty}}</p>
        </div>
      </div>
      <a href="/"><button class="btn btn-dark btn-outline-light">Back to Cookbook</button></a>
      <a href="/edit_page/{{recipe.id}}"><button class="btn btn-dark btn-outline-light">Edit</button></a>
      <a href="/delete/{{recipe.id}}"><button class="btn btn-dark btn-outline-light">Delete</button></a>
    </div>
  </div>

{% endblock %}