{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <h1 class='recipeTitle'>{{session['user_name']}}'s Cookbook</h1>
  <div class="wrapper">
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Under Thirty Min</th>

          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for r in recipes %}
        <tr>
          <td><a href="/show_recipe/{{r.id}}">{{r.name}}</a></td>
          <td><a href="/show_this_date/{{r.date}}">{{r.date}}</a></td>
          <td><a href="/show_this_thirty/{{r.id}}">{{r.thirty}}</a></td>
          <td><a href="/edit_page/{{r.id}}">Edit</a> | <a href="/delete/{{r.id}}">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    <a href="/add_new_recipe"><button class="btn btn-dark btn-outline-light">Add Recipe</button></a>
  </div>
</div>


{% endblock %}