@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: 'Nothing You Could Do', cursive;
  color: #fafafa;
  background-color: #000;
  overflow: hidden;
  padding: 10vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
  width: 100%;
  padding: 15px;
}
.title-block {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  margin: 5px 10px;
  width: 30%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  padding: 15px;
}
div.navbar a {
  width: 12%;
}
div.navbar form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 40px;
}
div.navbar form input {
  max-width: 250px;
  padding: 1px 5px;
  border-radius: 5px;
}
div.navbar form .btn {
  max-width: 75px;
  height: 30px;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #000 url('../imgs/smcr-background.png') no-repeat center;
  border: 2px solid #fafafa;
  border-radius: 10px;
  padding: 20px;
}
.container h1 {
  margin: 0 15px 15px 0;
}

.wrapper {
  width: 100%;
  background-color: #222;
  border: 2px solid #fafafa;
  border-radius: 10px;
  opacity: 0.9;
  padding: 10px;
  margin: 10px 15px;
}

div.addRecipe form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.recipeTitle {
  width: 85%;
  text-decoration: underline;
  padding: 15px 15px 0 15px;
}

p {
  font-weight: 600;
  padding: 5px;
}

.btn {
  width: 250px;
  margin: 5px;
}
.btn:hover {
  color: #fafafa;
  background-color: rgb(182, 108, 182);
}

.login, .register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 2px solid #fafafa;
  padding: 20px 80px 40px 0;
  height: 400px;
}

.register {
  border-left: 2px solid #fafafa;
  border-right: none;
  padding: 20px 0 40px 60px;
}

.formInput {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.recipe {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

.details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
}

.underThirty {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 2px solid #fafafa;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 35px 75px 0;
}
.underThirty h5 {
  text-align: center;
  font-size: 25px;
  padding: 0;
}
.thirtyYesNo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thirtyYesNo div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

label {
  text-decoration: underline;
  font-size: 20px;
  font-weight: 700;
  color: #fafafa;
  padding: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  width: 90%;
}

/* #users {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

a {
  color: #fafafa;
  text-decoration: none;
}
a:hover {
  color: rgb(182, 108, 182)
}

table {
  width: 100%;
  color: #fafafa;
  opacity: 0.9;
}
th, td{
  font-weight: 600;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 15px;
}

td {border-right: none;}

#tableDiv {
  border: 1px solid #fafafa;
  border-radius: 5px;
}

.error {
  color: rgb(196, 75, 75);
  border: 5px solid rgb(196, 75, 75);
  border-radius: 5px;
  margin: 10px;
}

.error span {
  font-weight: 900;
}

/* #radio, #returning, #liked {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #fafafa;
  border-radius: 5px;
} */

/* .usersInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  max-height: 250px;
  background-color: #111;
  border: 1px solid #fafafa;
  border-radius: 5px;
  overflow: auto;
  padding: 15px;
  margin: 15px;
} */